//colors
$white_gray: #cfd8dc;
$off_white_1: #fefefe;
$off_white_2: #f5f5f5;
$off_white_3: #eee;
$gray_1: #f9f9f9;
$gray_2: #e0e0e0;
$gray_3: #eceff1;
$gray_4: #f1f1f1;
$gray_5: #bbb;
$dark-gray_1: #555;
$dark-gray_2: #444;
$slate_gray: #76838c;
$blue: #3273dc;
$blue_2: #276cda;

// toolbar
#toolbar {
    background: $white_gray;
    border: 1px solid $gray_2;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem;
}

#blk_slct_all {
    display: none;
}

// upload
#dz {
    display: none;
    margin: 15px 0;
}

.dz {
    background: white;
    border: 2px dashed $blue;
    border-radius: 5px;
    cursor: pointer;
    min-height: 150px;
    padding: 45px;

    .dz-message {
        font-weight: 400;
        margin: 2em 0;
        text-align: center;
    }
}

#uploadProgress {
    border-radius: 100vw;
    display: none;
    margin-top: 10px;
}

#uploadPreview {
    display: none;
}

// breadcrump
.breadcrumb-container {
    background: $gray_3;
    border: 1px solid $gray_2;
    border-top: 0;
    margin: 0 !important;
    padding: 0.5rem 1rem;

    .breadcrumb {
        margin-bottom: 0 !important;
        padding: 0;

        li {
            &::before {
                color: $dark-gray_2;
                padding: 0 0 0 4px;
            }
        }

        a {
            color: $blue;
            font-weight: bold;
            padding: 0 0.5em;

            &:hover {
                color: $dark-gray_1;
            }
        }

        p {
            margin: 0;
            padding: 0 0.5em;
        }
    }

    .toggle {
        align-items: center;
        color: $gray_5;
        cursor: pointer;
        display: flex;

        span:not(.icon) {
            font-size: 0.8rem;
            font-weight: bold;
            margin-top: 3px;
            text-transform: uppercase;
        }
    }
}

// manager
.manager-container {
    background-color: $off_white_1;
    border: 1px solid $gray_2;
    border-radius: 0 0 4px 4px;
    border-top: 0;
    display: flex;
}

#left,
#right {
    min-height: 400px;
    overflow: scroll;
    position: relative;
    // max-height: 584px;
}

#left {
    flex: 4;
    padding: 10px;

    #files {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        user-select: none;

        li {
            align-items: stretch;
            display: flex;
            flex: 1;
            max-width: 250px;
            min-height: 90px;
            min-width: 200px;
        }
    }
}

.file_link {
    background: $off_white_2;
    border: 1px solid $off_white_3;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin: 10px;
    overflow: hidden;
    padding: 10px;
    width: 100%;

    .link_icon {
        color: $slate_gray;
        flex: 1;
        margin-right: 5px;
        text-align: center;

        i {
            position: relative;
            top: 5px;
        }

        .img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 3px;
            height: 100%;
            width: 53px;
        }
    }

    .details {
        flex: 2;
        overflow: hidden;

        h4 {
            font-size: 14px;
            margin-bottom: 0;
            margin-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        small {
            font-size: 11px;
        }
    }

    &.selected,
    &.bulk-selected,
    &:hover {
        background: $blue;
        border-color: $blue_2;
        color: white;

        h4,
        i {
            color: white;
        }
    }
}

#right {
    border-left: 1px solid $gray_4;
    display: none;
    flex: 1;

    .right_none_selected {
        background: $gray_1;
        border-bottom: 1px solid $gray_4;
        display: block;
        text-align: center;

        i {
            font-size: 30px;
            padding: 50px;
            width: 100%;
        }

        p {
            padding: 10px;
        }
    }

    .detail_img {
        text-align: center;

        img {
            display: block;
        }

        i {
            background: $gray_3;
            font-size: 70px;
            padding: 30px;
            width: 100%;
        }

        .audio,
        .video {
            height: auto;
            margin-bottom: -7px;
            width: 100%;
        }

        .audio {
            margin-top: 32px;
        }
    }

    .detail_info {
        border-top: 1px solid $gray_2;
        padding: 10px;
        word-break: break-all;

        h4 {
            color: $gray_5;
            font-size: 13px;
            margin-right: 8px;
        }

        span {
            color: $dark-gray_2;
        }

        a {
            color: $blue;
        }
    }

    .count {
        margin-top: 20px;
        padding: 10px;
        text-align: right;
    }
}

// loaders
#file_loader,
#no_files,
#ajax_error {
    align-items: center;
    background: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#ajax_error {
    flex-direction: column;

    h3 {
        margin-top: 1rem;
    }
}

#no_files {
    h3 {
        margin-left: 3rem;
    }
}

#file_loader_anim {
    width: 15vw;
}

#no_files_anim,
#ajax_error_anim {
    width: 5vw;
}

// modal
#img_modal {
    align-items: center;
    padding: 0;
}

.confirm_delete_text * {
    color: $blue;
    font-weight: 500;
}

.folder_warning {
    margin-top: 15px;
}

.file_size {
    font-weight: bold;
}

.no-scroll {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

// util
.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.m-v-15 {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}
