//colors
$white_gray: #cfd8dc;
$off_white_1: #fefefe;
$off_white_2: #f5f5f5;
$off_white_3: #eee;
$gray_1: #f9f9f9;
$gray_2: #e0e0e0;
$gray_3: #eceff1;
$gray_4: #f1f1f1;
$gray_5: #8d8c8c;
$dark-gray_1: #555;
$dark-gray_2: #444;
$slate_gray: #76838c;
$gray_7: #b5b5b5;
$turquoise: #00d1b2;
$green: #23d160;
$yellow: #ffdd57;
$red: #ff3860;
$blue: #3273dc;
$blue_2: #276cda;

* {
    backface-visibility: hidden;
}

// toolbar
#toolbar {
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem;
    border: 1px solid $gray_2;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    background: $white_gray;
}

// upload
.dz {
    margin: 15px 0;
}

#new-upload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px dashed rgba($gray_7, 0.5);
    border-radius: 5px;
    background-repeat: repeat;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25vw;
        height: 25vw;
        content: "";
        transition: all 0.3s ease-in-out;
        border-radius: 100vw;
        background-color: orangered;
        mix-blend-mode: difference;
        translate: -50% -50%;
    }

    &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);

        &::before {
            background-color: transparent;
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
        }
    }

    .dz-message {
        font-weight: 400;
        position: relative;
        margin: 0;
        padding: 3em;
        text-align: center;
        color: white;
        mix-blend-mode: difference;
    }
}

@media screen and (max-width: 992px) {
    .dz::before {
        width: 65vw;
        height: 65vw;
    }
}

#uploadProgress {
    margin-top: 10px;
    border-radius: 100vw;
}

#uploadPreview {
    display: none;
}

// breadcrump
.breadcrumb-container {
    margin: 0 !important;
    padding: 0.5rem 1rem;
    border: 1px solid $gray_2;
    border-top: 0;
    background: $gray_3;

    .breadcrumb {
        margin-bottom: 0 !important;
        padding: 0;

        li {
            &::before {
                padding: 0 0 0 4px;
                color: $dark-gray_2;
            }
        }

        a {
            font-weight: bold;
            padding: 0 0.5em;
            color: $blue;

            &:hover {
                color: $dark-gray_1;
            }
        }

        p {
            margin: 0;
            padding: 0 0.5em;
        }
    }

    .toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $gray_5;

        span:not(.icon) {
            font-size: 0.8rem;
            font-weight: bold;
            margin-top: 3px;
            text-transform: uppercase;
        }
    }
}

// manager
.manager-container {
    position: relative;
    display: flex;
    border: 1px solid $gray_2;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background-color: $off_white_1;
}

#left,
#right {
    position: relative;
    overflow: scroll;
    min-height: 400px;
    // max-height: 584px;
}

#left {
    flex: 4;
    padding: 10px;

    #files {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        list-style: none;
        user-select: none;

        li {
            display: flex;
            align-items: stretch;
            flex: 1;
            min-width: 225px;
            max-width: 250px;
            min-height: 90px;
            transition: all 0.1s;
        }
    }
}

.file_link {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    border: 1px solid $off_white_3;
    border-radius: 4px;
    background: $off_white_2;

    &.selected,
    &.bulk-selected,
    &:hover {
        color: white;
        border-color: $blue_2;
        background: $blue;

        h4,
        i {
            color: white;
        }
    }

    &:hover {
        box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.2);
    }

    .copy_link {
        position: absolute;
        right: 0;
        bottom: -1px;
        cursor: copy;
    }

    .lock_icon {
        position: absolute;
        top: 3px;
        right: 3px;
        width: 0.6rem;
        height: 0.6rem;
        cursor: default;
        border-radius: 100vw;
    }

    .link_icon {
        flex: 1;
        margin-right: 5px;
        text-align: center;
        color: $slate_gray;

        i {
            position: relative;
            top: 5px;
        }

        .img {
            width: 53px;
            height: 100%;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    .details {
        overflow: hidden;
        flex: 2;

        h4 {
            font-size: 14px;
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        small {
            font-size: 11px;
        }
    }
}

#right {
    position: relative;
    flex: 1;
    border-left: 1px solid $gray_4;

    .right_none_selected {
        display: block;
        text-align: center;
        border-bottom: 1px solid $gray_4;
        background: $gray_1;

        i {
            font-size: 30px;
            width: 100%;
            padding: 50px;
        }

        p {
            padding: 10px;
        }
    }

    .right_details {
        margin-bottom: 120px;
    }

    .detail_img {
        text-align: center;

        img {
            display: block;
        }

        i {
            font-size: 70px;
            width: 100%;
            padding: 30px;
            background: $gray_3;
        }

        .audio,
        .video {
            width: 100%;
            height: auto;
            margin-bottom: -7px;
        }

        .audio {
            margin-top: 32px;
        }
    }

    .detail_info {
        padding: 10px;
        word-break: break-all;
        border-top: 1px solid $gray_2;

        h4 {
            font-size: 13px;
            margin-right: 8px;
            color: $gray_5;
        }

        span {
            word-break: break-word;
            color: $dark-gray_2;
        }

        a {
            color: $blue;
        }
    }

    .count {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px;
        text-align: right;
    }
}

// loaders
#file_loader,
#no_files,
#ajax_error {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

#file_loader,
#ajax_error {
    z-index: 1;
}

#ajax_error {
    flex-direction: column;

    h3 {
        margin-top: 1rem;
    }
}

#no_files {
    h3 {
        margin-left: 3rem;
    }
}

#file_loader_anim {
    width: 15vw;
}

#no_files_anim,
#ajax_error_anim {
    width: 5vw;
}

// modal
#preview_modal {
    align-items: center;
    padding: 10px;
}

.confirm_delete_text * {
    font-weight: 500;
    color: $blue;
}

.folder_warning {
    margin-top: 15px;
}

.file_size {
    font-weight: bold;
}

.no-scroll {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

// util
.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.m-v-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.is--link {
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: transparent;
}

a[target="_blank"] {
    cursor: alias;
}
