$list: (img-nxt, img-prv, info-in, info-out, slide, list);

@each $class in $list {
    .#{$class}-enter-active,
    .#{$class}-leave-active {
        transition: all 0.2s ease-out;
    }
}

/* files */
.list-enter,
.list-leave-to {
    transform: translateY(30px);
    opacity: 0;
}

/* image */
.img-prv-enter {
    transform: translateX(-0.7rem);
    opacity: 0;
}

.img-prv-leave-to {
    transform: translateX(90px);
    opacity: 0;
}

.img-nxt-enter {
    transform: translateX(0.7rem);
    opacity: 0;
}

.img-nxt-leave-to {
    transform: translateX(-90px);
    opacity: 0;
}

/* info toggle btn */
.info-in-enter,
.info-in-leave-to {
    transform: translateX(0.7rem);
    opacity: 0;
}

.info-out-enter,
.info-out-leave-to {
    transform: translateX(-0.7rem);
    opacity: 0;
}

/* info panel */
.slide-enter,
.slide-leave-to {
    transform: translateX(-0.7rem);
    opacity: 0;
}

/* counters */
.counter-enter,
.counter-leave-to {
    transform: translateX(0.7rem);
    opacity: 0;
}
