// mixin
@mixin media($amount, $point) {
    @media screen and (#{$amount}-width: #{$point}px) {
        @content;
    }
}

// theme
$light_theme: #eceff1;
$dark_theme: invert($light_theme);
$active_theme: $light_theme;

// colors
$white: lighten($active_theme, 100%);
$black: darken($active_theme, 100%);
$green: hsl(141, 71%, 48%);
$yellow: hsl(48, 100%, 67%);
$red: hsl(348, 100%, 61%);
$blue: hsl(217, 71%, 53%);
$shadow_1: 0 10px 45px 0 rgba($black, 0.2);
$shadow_2: 0 5px 25px 0 rgba($black, 0.2);
