// mixin
@mixin media($amount, $point) {
    @media screen and (#{$amount}-width: #{$point}px) {
        @content;
    }
}

// theme
$light_theme: #eceff1;
$dark_theme: invert($light_theme);
$active_theme: $light_theme;

// colors
$white: lighten($active_theme, 100%);
$black: darken($active_theme, 80%);
$dark: #0a0a0a;
$green: #23d160;
$yellow: #ffdd57;
$red: #ff3860;
$blue: #3273dc;
$primary: #00d1b2;
$shadow_1: 0 10px 45px 0 rgba($black, 0.2);
$shadow_2: 0 6px 25px 0 rgba($black, 0.3);
$shadow_3: 0 6px 10px rgba($black, 0.08);

// plyr
$plyr-1: #3bea91;
$plyr-2: #7f4cf1;
$plyr-3: #f5164d;

// ratio
$image: linear-gradient(45deg, #ff9882 0, #ffbb0a 100%);
$audio: linear-gradient(45deg, #6868f1 0, #204ee5 100%);
$video: linear-gradient(45deg, #cdd5e0 0, #bcdbdf 100%);
$text: linear-gradient(45deg, #ff5da2 0, #b643cd 100%);
$folder: linear-gradient(45deg, #45eba5 0, #45eba5 100%);
$application: linear-gradient(45deg, #53c7f0 0, #87e0ff 100%);
$pdf: linear-gradient(45deg, #efb1ff 0, #9951ff 100%);

// other
$breadcrumb: #dde3e6;
