@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');

[v-cloak] {
    display: none;
}

.__stack-container,
.__stack-files,
.__stack-sidebar,
.__files-boxs,
img {
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
}

.media-manager__stack {
    font-family: 'Miriam Libre', 'Arial', sans-serif;
}
