@import "../bootstrap_modal";
@import "../shared-styles";
$turquoise: #00d1b2;
$green: #23d160;
$yellow: #ffdd57;
$red: #ff3860;
$orange: #ff470f;

// modal
.is-warning {
    color: rgba(0, 0, 0, 0.7);
    background-color: $yellow;
}
.is-danger {
    color: white;
    background-color: $red;
}
.is-info {
    color: white;
    background-color: $blue;
}
.is-primary {
    color: white;
    background-color: $turquoise;
}
.is-success {
    color: white;
    background-color: $green;
}

// bulma
.input {
    border-color: $gray_7;
    box-shadow: none;
}
table,
.table {
    margin-bottom: 0;
    td,
    th {
        vertical-align: middle;
        border: none !important;
    }
    tr:hover {
        background-color: transparent;
    }
}
.control.is-loading:after {
    position: static !important;
}
.level {
    margin-bottom: 0.75rem !important;
}
.modal {
    z-index: 1050 !important;
}
