@import "../animated";
@import "../progress";
@import "../shared-styles";

$gray_7: #b5b5b5;
$turquoise: #00d1b2;
$green: #23d160;
$yellow: #ffdd57;
$red: #ff3860;
$orange: #ff470f;

// modal
.is-warning {
    background-color: $yellow;
}

.is-danger {
    background-color: $red;
}

.is-info {
    background-color: $blue;
}

.is-primary {
    background-color: $turquoise;
}

.is-success {
    background-color: $green;
}

.is-danger,
.is-info,
.is-primary,
.is-success {
    * {
        color: white;
    }
}

// bulma
.input {
    border-color: $gray_7;
    box-shadow: none;
}

table,
.table {
    margin-bottom: 0;

    td {
        padding: 0;
    }

    td,
    th {
        vertical-align: middle;
        border: none !important;
    }

    tr:hover {
        background-color: transparent;
    }
}

.level {
    margin-bottom: 0.75rem !important;
}

.modal.is-active {
    padding-top: 3%;
    align-items: start;
}

#img_modal {
    padding: 0;
    align-items: center;
}

.modal-card-foot {
    background-color: white;
    justify-content: flex-end;
}
