@import '../partials/panels';

.usage-intro-btn {
    border-radius: 100vw;
    display: none;
    transition: transform 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
        box-shadow: 0 15px 30px 0 rgba($red, 0.11), 0 5px 15px 0 rgba($red, 0.08);
        color: $red;
        transform: translateY(-0.7rem);
    }
}

.usage-intro-panel {
    overflow-x: auto !important;
    overflow-y: scroll !important;

    .gradient-pattern {
        background: radial-gradient(rgba(white, 0.02) 15%, transparent 16%), rgba($dark, 0.98);
        background-clip: border-box;
        background-origin: padding-box;
        background-position: 10px 10px;
        background-size: 25px 25px;
    }

    .__choices {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        width: 100%;

        .mid {
            background-color: rgba($white, 0.1);
            height: 50%;
            margin: 0 1rem;
            width: 1px;
        }

        .left,
        .right {
            align-items: center;
            color: $white;
            cursor: pointer;
            display: flex;
            flex: 1;
            height: 100%;
            justify-content: center;
            opacity: 0.1;
            position: relative;
            transition: all 1s;

            &:hover {
                color: $range;
                opacity: 1;
            }

            .icon {
                height: 100%;
                width: 100%;
            }
        }
    }

    .__corner {
        bottom: 0;
        color: black;
        display: none;
        font: normal 100%/normal Arial, Helvetica, sans-serif;
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 0.85;
        margin-bottom: 1rem;
        position: absolute;
        right: 0;
        width: 8%;
        word-break: break-all;

        p {
            color: black;
        }

        &::before,
        &::after {
            bottom: 0;
            content: '';
            position: absolute;
        }

        &::after {
            background-color: black;
            height: 150%;
            left: -3rem;
            margin-bottom: -1rem;
            transform: skew(-40deg);
            transform-origin: left bottom;
            width: 5px;
        }

        &::before {
            background-color: $green;
            height: 5px;
            left: 0;
            margin-bottom: -1rem;
            width: 45%;
        }
    }
}
