//colors
$white_gray: #cfd8dc;
$off_white_1: #fefefe;
$off_white_2: #f5f5f5;
$off_white_3: #eee;
$gray_1: #f9f9f9;
$gray_2: #e0e0e0;
$gray_3: #eceff1;
$gray_4: #f1f1f1;
$gray_5: #8d8c8c;
$dark-gray_1: #555;
$dark-gray_2: #444;
$slate_gray: #76838c;
$gray_7: #b5b5b5;
$turquoise: #00d1b2;
$green: #23d160;
$yellow: #ffdd57;
$red: #ff3860;
$blue: #3273dc;
$blue_2: #276cda;

@import "./vendor/animate";
@import "./vendor/progress";
@import "./vendor/switcher";
@import "./manager";

// bulma
.modal-card-head,
.progress-bar,
.icon {
    &.is-warning {
        background-color: $yellow;
    }

    &.is-danger {
        background-color: $red;
    }

    &.is-link {
        background-color: $blue;
    }

    &.is-primary {
        background-color: $turquoise;
    }

    &.is-success {
        background-color: $green;
    }

    &.is-danger,
    &.is-link,
    &.is-primary,
    &.is-success {
        * {
            color: white;
        }
    }
}

.modal-card {
    margin: 0;
    padding: 1rem 1rem 0;
}

#preview_modal {
    .modal-content,
    .modal-card {
        width: auto;
        max-width: 640px;
        margin: 0;
    }
}

.modal.is-active {
    align-items: start;
    padding-top: 3%;
}

.modal-card-foot {
    justify-content: flex-end;
    background-color: white;
}

.image {
    display: inline-block;
}

.input {
    border-color: $gray_7;
    box-shadow: none;
}

table,
.table {
    margin-bottom: 0;

    td {
        padding: 0;
    }

    td,
    th {
        vertical-align: middle;
        border: none !important;
    }

    tr:hover {
        background-color: transparent;
    }
}

@media screen and (max-width: 1299px) {
    .level-left + .level-right {
        margin-top: 0.75rem;
    }
}
