[v-cloak] {
    display: none;
}

@import './extra/vars';
@import './extra/loaders';
@import './extra/animation';
@import './packages/animate';
@import './packages/progress';
@import './packages/switcher';

/*                toolbar                */
.media-manager__toolbar {
    flex-wrap: wrap;
    margin: 0 0 -1px !important;
    padding: 1rem;
    border: 1px solid darken($active_theme, 5%);
    border-radius: 4px 4px 0 0;
    background: darken($active_theme, 2.5%);
}

@include media('max', 1087) {
    .media-manager__toolbar {
        .level-left + .level-right {
            margin-top: 0.75rem;
        }
    }
}

/*                upload                */
.media-manager__dz {
    margin: 15px 0;
    padding: 3px;
    border: 2px dashed darken($active_theme, 5%);
    border-radius: 5px;
}

#new-upload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.25s ease-out;
    border-radius: 5px;
    background-color: $black;
    background-repeat: repeat;
    background-position: center;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25vw;
        height: 25vw;
        content: '';
        transition: all 0.25s ease-out;
        transform: translate(-50%, -50%);
        opacity: 0.9;
        border-radius: 100vw;
        background-image: var(--gradient);
    }

    &:hover {
        box-shadow: $shadow_2;

        &::before {
            box-shadow: $shadow_2;
        }
    }

    .dz-message {
        font-weight: 400;
        position: relative;
        margin: 0;
        padding: 3em;
        text-align: center;
        color: $white;
    }

    .form-switcher,
    .save_link {
        position: absolute;
        z-index: 1;
    }

    .form-switcher {
        bottom: 0.5rem;
        left: 0.5rem;
    }

    .save_link {
        right: 0.5rem;
        bottom: 0;
        filter: drop-shadow(0 0 0.1rem rgba($black, 0.3));

        .circle,
        .anchor {
            transition: all 0.25s ease-out;
        }

        .circle {
            color: $active_theme;
        }

        .anchor {
            color: darken($active_theme, 50%);
        }

        &:hover {
            .anchor {
                color: $active_theme;
            }

            .circle {
                color: darken($active_theme, 50%);
            }
        }
    }
}

@include media('max', 1087) {
    #new-upload::before {
        width: 40vw;
        height: 40vw;
    }
}

@include media('max', 768) {
    #new-upload::before {
        width: 50vw;
        height: 50vw;
    }
}

#uploadProgress {
    margin: 1rem 0;
    border-radius: 100vw;
}

#uploadPreview {
    display: none;
}

/*                manager                */
.media-manager__stack {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid darken($active_theme, 5%);
    border-radius: 0 0 4px 4px;
    box-shadow: $shadow_1;
}

/*                breadcrump                */
// mobile
.__stack-breadcrumb-mobile {
    display: flex;
    overflow: scroll;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    list-style: none;
    transition: all 0.25s ease-out;

    li {
        position: relative;
        flex: 1;
        margin-right: 1rem;
        padding: 2px;
        text-align: center;
        border: 1px dashed darken($active_theme, 2.5%);
        border-radius: 5px;

        // ---
        &::after {
            position: absolute;
            top: 50%;
            right: -1rem;
            width: 1rem;
            content: '';
            border-top: 1px dashed darken($active_theme, 2.5%);
        }

        &:last-of-type {
            margin-right: 0;
            margin-left: 1px;
            padding-right: 2rem;

            &::after {
                display: none;
            }

            // get around vue not animating items
            // because of changeing border style
            &::before {
                position: absolute;
                top: -1px;
                right: -1px;
                bottom: -1px;
                left: 15%;
                content: '';
                border: 1px solid $white;
                border-left: none;
                border-radius: 0 5px 5px 0;
            }
        }

        // ---•
        &:nth-last-of-type(2)::before {
            font-size: 1.8rem;
            position: absolute;
            z-index: 1;
            top: 0.65rem;
            right: -1.57rem;
            content: '•';
            color: darken($active_theme, 2.5%);
        }

        a,
        p {
            display: block;
            padding: 1rem;
            white-space: nowrap;
            border-radius: 5px;
            background: $white;
        }

        a {
            transition: all 0.25s ease-out;
            color: $blue;
            box-shadow: $shadow_3;

            &:hover {
                box-shadow: none;
            }
        }
    }
}

// default
.media-manager__stack-breadcrumb {
    margin: 0 !important;
    padding: 0.75rem;
    border-top: 1px solid darken($active_theme, 5%);
    background: $active_theme;

    .breadcrumb {
        margin-bottom: 0 !important;
        padding: 0;

        li {
            &::before {
                padding: 0 0 0 4px;
                color: darken($active_theme, 50%);
            }
        }

        a {
            font-weight: bold;
            padding: 0 0.5em;
            color: $blue;

            &:hover {
                color: darken($active_theme, 50%);
            }
        }

        p {
            margin: 0;
            padding: 0 0.5em;
        }
    }
}

.__stack-sidebar-toggle {
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &:hover {
        * {
            color: darken($active_theme, 50%);
        }
    }

    span:not(.icon) {
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 1px;
        text-transform: uppercase;
    }
}

/*                files                */
.media-manager__stack-container {
    position: relative;
    display: flex;
    overflow: hidden;
    min-height: 50vh;
    transition: all 0.25s;
    background-color: $white;

    * {
        backface-visibility: hidden;
    }
}

@include media('max', 1087) {
    .media-manager__stack-container {
        max-height: 100vh;
    }
}

// left "files list"
.media-manager__stack-files {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20%;
    overflow: scroll;
    padding: 0.75rem;
    transition: all 0.25s;
}

.__stack-sidebar-hidden {
    left: 0;
}

.__files-boxs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    user-select: none;

    li {
        display: flex;
        flex: 1;
        min-width: 250px;
        max-width: 250px;
        // min-height: 100px;
        max-height: 100px;
    }
}

.__file-box {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0.75rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: all 0.25s;
    color: darken($active_theme, 60%);
    border: 1px solid darken($active_theme, 2.5%);
    border-radius: 4px;
    background: lighten($active_theme, 2.5%);

    &.selected,
    &.bulk-selected,
    &:hover {
        color: $white;
        border-color: darken($blue, 5%);
        background: $blue;

        h4,
        i,
        svg {
            color: $white;
        }
    }

    // &:hover {
    //     box-shadow: $shadow_1;
    // }
}

.__box-lock-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    border-radius: 100vw;

    &:disabled {
        cursor: not-allowed;
    }
}

.__box-copy-link {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: copy;
}

.__box-data {
    display: flex;
    overflow: hidden;
    align-items: center;
    align-self: flex-end;
    justify-content: start;
    width: 100%;

    .__box-preview {
        margin: 0 0.75rem 0 1px;
        color: darken($active_theme, 50%);

        .icon {
            transform: translateY(3px);
        }

        .__box-img {
            position: relative;
            overflow: hidden;
            width: 50px;
            height: 50px;
            border: 1px dashed darken($active_theme, 25%);
            border-radius: 4px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // object-fit: fill;
                // object-position: center;
            }
        }
    }

    .__box-info {
        overflow: hidden;
        width: 100%;

        h4 {
            font-size: 1rem;
            overflow: hidden;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        small {
            font-size: 11px;
        }

        .__info-file-size {
            font-weight: bold;
            margin-left: 2px;
        }
    }
}

@include media('max', 1087) {
    .media-manager__stack-files {
        position: relative;
        right: 0;
        left: 0;
        width: 100%;
    }

    .__files-boxs {
        li {
            min-width: 200px;
            max-width: 200px;
            min-height: 200px;
            max-height: 200px;
        }
    }

    .__file-box {
        padding: 0;
    }

    .__box-copy-link {
        right: 1px;
        bottom: 1px;
    }

    .__box-data {
        align-self: unset;
        flex-direction: column;
        width: 100%;

        .__box-preview {
            display: flex;
            overflow: hidden;
            align-items: center;
            flex: 4;
            justify-content: center;
            width: 100%;
            margin: 0;

            svg {
                transform: scale(1.5);
            }

            .__box-img {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 0;
            }
        }

        .__box-info {
            width: 100%;
            padding: 0.75rem;
        }
    }
}

// right "file info sidebar"
.media-manager__stack-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    transition: all 0.25s ease-out;
    border-right: 1px solid darken($active_theme, 5%);

    .__sidebar-preview {
        flex: 0 0 auto;
        text-align: center;
        color: darken($active_theme, 50%);
        border-bottom: 1px dashed darken($active_theme, 5%);
        background-color: $active_theme;

        .__sidebar-none-selected {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1rem 0 1.5rem;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 175px;
                height: 175px;
                margin: 1rem 0;
                border: 2px dashed darken($active_theme, 15%);
                border-radius: 25px;
            }

            svg {
                margin: 0;
                filter: drop-shadow(0.3rem 0.3rem 0 darken($active_theme, 15%));
            }
        }

        svg {
            margin: 4rem 0;
        }

        .__sidebar-audio,
        .__sidebar-video {
            display: block;
            width: 100%;
        }
    }

    .__sidebar-info {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        transition: all 0.25s ease-out;
        word-break: break-all;
        background-color: $active_theme;

        > div {
            padding: 0.75rem;

            &:not(.__sidebar-count) {
                flex: 1;

                p {
                    font-size: 1rem;
                    margin-bottom: 0.1em;
                    color: darken($active_theme, 25%);

                    span {
                        word-break: break-word;
                        color: darken($active_theme, 75%);
                    }

                    a {
                        color: $blue;
                    }
                }
            }
        }
    }

    .__sidebar-zip {
        display: flex;
        align-items: center;
        margin-bottom: 0.1em;

        span:not(.icon) {
            font-size: 1rem;
            margin-right: 3px;
            color: darken($active_theme, 25%);
        }

        form {
            margin-bottom: 2px;
        }
    }

    .__sidebar-count {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin-top: 3rem;
        color: darken($active_theme, 50%);

        > div {
            text-align: center;

            &:not(:first-of-type) {
                border-right: 1px solid darken($active_theme, 10%);
            }

            &:not(:only-of-type) {
                flex: 1;
                transition: all 0.25s ease-out;
            }

            &:only-of-type {
                margin-left: auto;
            }
        }

        .__sidebar-count-bulk {
            span.icon,
            span.is-5 {
                position: relative;
                bottom: 6px;
            }
        }

        .title {
            line-height: 1;
            margin: 0 !important;
            color: darken($active_theme, 50%);

            svg {
                fill: darken($active_theme, 50%);
            }
        }
    }
}

/*                modal                */
.__modal-preview {
    * {
        color: $black;
    }

    .title {
        word-break: break-all;
    }

    .subtitle {
        color: darken($active_theme, 50%);
    }

    .modal-content,
    .card-image {
        width: auto;
        max-width: 480px;
        margin: 0;
    }

    .pdf {
        .card-content {
            border-top: 1px solid darken($active_theme, 5%);
        }

        .card-image {
            height: 480px;

            object {
                width: 480px;
            }
        }
    }
}

.__modal-delete-total {
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: right;
}

.__modal-folder-warning {
    margin-top: 15px;
}

.__modal-content-wrapper {
    align-self: center;
}

/*                Editor                */
$editorBtns: rgba(darken($active_theme, 70%), 0.8);

.__modal-editor {
    .__cropper {
        min-width: unset;
        background: transparent;
        box-shadow: none;

        .__cropper-top-toolbar,
        .__cropper-side-toolbar,
        .__cropper-bottom-toolbar {
            display: flex;
            align-self: flex-start;
            background-color: $editorBtns;
        }

        .top,
        .mid,
        .bottom {
            display: flex;
        }

        .mid {
            .__cropper-side-toolbar {
                flex-flow: column nowrap;
            }

            .card-image {
                margin: 1rem 0 1rem 1rem;

                .image {
                    max-width: 50vw;
                    max-height: 50vh;
                }

                img {
                    max-width: 100%;
                }
            }
        }

        .bottom {
            justify-content: flex-end;
        }
    }

    .__caman {
        position: relative;

        .__caman-controls {
            position: absolute;
            z-index: 1;
            top: -82px;
            left: 0;
            background-color: $editorBtns;
        }
    }

    .btn-plain {
        padding: 0.75rem;
        transition: all 0.25s ease-out;
        color: white;

        &:hover,
        &.is-active {
            background-color: $blue;
        }

        &:disabled {
            background-color: rgba(darken($active_theme, 80%), 0.8);
        }
    }
}

@include media('max', 1087) {
    .__modal-editor {
        .image {
            max-width: 75vw !important;
        }
    }
}

/*                Options                */

/* manager in modal */
.modal-manager__Inmodal {
    > div.modal-content {
        width: 85%;
    }

    .__stack-breadcrumb-mobile {
        padding-bottom: 1rem;
    }

    .media-manager__stack {
        box-shadow: none;
    }

    .media-manager__stack-sidebar {
        overflow: scroll;
        max-height: 65vh;
    }

    .__stack-sidebar-toggle {
        span:not(.icon) {
            margin-bottom: 0;
        }
    }

    .__box-copy-link {
        right: 0;
        bottom: 1px;
    }

    .__modal-preview {
        .modal-content {
            width: 100%;
        }
    }
}

@include media('max', 1087) {
    .modal-manager__Inmodal {
        .modal-content {
            width: 95%;
        }
    }
}

.__Inmodal-editor,
.__Inmodal-editor-hide {
    display: none;
}

/* reverse manager top / bottom toolbar */
.__stack-reverse {
    .media-manager__stack {
        flex-direction: column-reverse;
    }

    .media-manager__stack-breadcrumb {
        border-top: none;
        border-bottom: 1px solid #dde3e6;
    }
}

/* reverse container left / right columns */
.__stack-files-reverse {
    .media-manager__stack-container {
        flex-direction: row-reverse;
    }

    .media-manager__stack-files {
        right: 20%;
        left: unset;
    }

    .__stack-sidebar-hidden {
        right: 0;
    }

    .media-manager__stack-sidebar {
        border-right: none;
        border-left: 1px solid darken($active_theme, 5%);

        .__sidebar-count {
            flex-direction: row;

            > div {
                &:not(:first-of-type) {
                    border-right: none;
                    border-left: 1px solid darken($active_theme, 10%);
                }

                &:only-of-type {
                    margin-right: auto;
                    margin-left: 0;
                }
            }
        }
    }

    // animation
    .slide-enter,
    .slide-leave-to {
        transform: translateX(0.75rem);
        opacity: 0;
    }

    .counter-enter,
    .counter-leave-to {
        transform: translateX(-0.75rem);
        opacity: 0;
    }
}

/*                utilities                */
.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.m-v-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.no-scroll {
    overflow: hidden;
}

.link {
    cursor: pointer;
}

.btn-plain {
    padding: 0;
    cursor: pointer;
    vertical-align: bottom;
    color: darken($active_theme, 80%);
    border: none;
    border-radius: 0;
    background: transparent;

    &:focus {
        border: none;
        box-shadow: none !important;
    }

    &:disabled {
        cursor: not-allowed;

        * {
            color: darken($active_theme, 25%);
        }
    }
}

a[target='_blank'] {
    cursor: alias;
}

/*                bulma                */
.input {
    box-shadow: none !important;
}

.input,
.control button,
.select select {
    border-color: darken($active_theme, 5%);

    &:hover {
        border-color: darken($active_theme, 25%);
    }
}

.card {
    overflow: hidden;
    min-width: 480px;
}

.modal-card-head,
.progress-bar,
.icon {
    &.is-warning {
        background-color: $yellow;
    }

    &.is-danger {
        background-color: $red;
    }

    &.is-link {
        background-color: $blue;
    }

    &.is-success {
        background-color: $green;
    }

    &.is-black {
        background-color: darken($active_theme, 80%);
    }

    &.is-danger,
    &.is-link,
    &.is-black,
    &.is-success {
        * {
            color: $white;
        }
    }
}

.modal {
    overflow: scroll;

    .modal-background {
        position: fixed;
    }

    .modal-card-title {
        max-width: calc(100% - 20px);
    }

    .modal-card-foot {
        justify-content: flex-end;
        background-color: $white;
    }

    &.is-active {
        margin-bottom: 2%;
        padding: 0.75rem 0.75rem 0;
    }
}

.image {
    display: block;
    width: 100%;
    min-width: 100%;
}

@include media('max', 768) {
    .card {
        min-width: 100%;
    }

    .__modal-preview {
        .modal-content,
        .card-image {
            max-width: 100%;
        }

        .pdf {
            .card-image {
                object {
                    width: 800;
                }
            }
        }
    }
}
