@import "./shared/animated";
@import "./shared/progress";
@import "./shared/manager";
$gray_7: #b5b5b5;
$turquoise: #00d1b2;
$green: #23d160;
$yellow: #ffdd57;
$red: #ff3860;
$orange: #ff470f;

// modal
.modal-card-head,
.progress-bar {
    &.is-warning {
        background-color: $yellow;
    }

    &.is-danger {
        background-color: $red;
    }

    &.is-link {
        background-color: $blue;
    }

    &.is-primary {
        background-color: $turquoise;
    }

    &.is-success {
        background-color: $green;
    }
}

.is-danger,
.is-link,
.is-primary,
.is-success {
    * {
        color: white;
    }
}

// bulma
.input {
    border-color: $gray_7;
    box-shadow: none;
}

table,
.table {
    margin-bottom: 0;

    td {
        padding: 0;
    }

    td,
    th {
        border: none !important;
        vertical-align: middle;
    }

    tr:hover {
        background-color: transparent;
    }
}

.modal.is-active {
    align-items: start;
    padding-top: 3%;
}

.modal-card-foot {
    background-color: white;
    justify-content: flex-end;
}
