//colors
$white_gray: #dfe0e1;
$off_white_1: #fefefe;
$off_white_2: #f5f5f5;
$off_white_3: #eeeeee;
$gray_1: #f9f9f9;
$gray_2: #e0e0e0;
$gray_3: #f0f0f0;
$gray_4: #f1f1f1;
$gray_5: #bbb;
$gray_6: #949494;
$gray_7: #b5b5b5;
$dark-gray_1: #555;
$dark-gray_2: #444;
$color_slate_gray_approx: #76838c;
$blue: #3273dc;
$blue_2: #276cda;

// manager
#toolbar {
    padding: 20px 20px 19px;
    background: $white_gray;
    border-radius: 4px 4px 0 0;
}
#blk_slct_all {
    display: none;
}
.dz {
    display: none;
    padding: 45px;
    cursor: pointer;
    background: white;
    border: 2px dashed $blue;
    border-radius: 5px;
    min-height: 150px;
    .dz-message {
        margin: 2em 0;
        font-weight: 400;
        text-align: center;
    }
}
#uploadProgress {
    display: none;
    margin: 10px 0;
    border-radius: 100vw;
}
#uploadPreview {
    display: none;
}
.breadcrumb-container {
    width: 100%;
    height: auto;
    border: 1px solid $gray_2;
    min-height: 36px;
    padding: 10px 20px;
    background: $gray_3;
    display: flex;
    justify-content: space-between;
    .breadcrumb {
        background: none;
        margin-bottom: 0;
        padding: 0;
        border-radius: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        li {
            position: relative;
            align-items: center;
            display: flex;
            &:before {
                color: $dark-gray_2;
                padding: 0 0 0 4px;
            }
            .arrow {
                width: 12px;
                height: 12px;
                position: absolute;
                bottom: -15px;
                left: 50%;
                display: none;
                background: $gray_3;
                border-right: 1px solid $gray_3;
                border-bottom: 1px solid $gray_3;
                transform: rotate(45deg);
            }
            &:last-child .arrow {
                display: block;
            }
            &:first-child .arrow {
                margin-left: -5px;
            }
        }
        a {
            font-weight: bold;
            align-items: center;
            color: $blue;
            display: flex;
            justify-content: center;
            padding: 0 0.5em;
            &:hover {
                color: $dark-gray_1;
            }
        }
        p {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 0 0.5em;
            margin: 0;
        }
    }
    .toggle {
        cursor: pointer;
        padding: 0;
        color: $gray_5;
        background:transparent;
        border-color: transparent !important;
        &:focus,
        &:active {
            box-shadow: none !important;
        }
        span:not(.icon) {
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
.flex {
    display: flex;
    border-radius: 0 0 4px 4px;
    background-color: $off_white_1;
    flex-wrap: wrap;
    border: 1px solid $gray_2;
    border-top: 0;
}
#left,
#right {
    min-height: 400px;
    max-height: 584px;
    overflow: scroll;
    position: relative;
}
#left {
    flex: 4;
}
#files {
    width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    user-select: none;
    li {
        width: 100%;
        min-width: 200px;
        max-width: 250px;
        min-height: 91px;
        display: flex;
        flex: 1;
        align-items: stretch;
        .file_link {
            width: 100%;
            padding: 10px;
            margin: 10px;
            display: flex;
            overflow: hidden;
            cursor: pointer;
            background: $off_white_2;
            border: 1px solid $off_white_3;
            border-radius: 3px;
            .link_icon {
                flex: 1;
                color: $color_slate_gray_approx;
                margin-right: 5px;
                text-align: center;
                i {
                    position: relative;
                    top: 5px;
                }
            }
            .details {
                width: 100%;
                overflow: hidden;
                flex: 2;
                h4 {
                    white-space: nowrap;
                    margin-top: 10px;
                    margin-bottom: 0;
                    overflow: hidden;
                    font-size: 14px;
                    text-overflow: ellipsis;
                }
                small {
                    font-size: 11px;
                }
            }
            &.selected,
            &:hover {
                background: $blue;
                color: white;
                border-color: $blue_2;
                h4,i {
                    color: white;
                }
            }
        }
    }
}
.bulk-selected,
.bulk-selected:hover {
    @extend .selected;
}
.image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#file_loader{
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background: white;
    p {
        width: 100%;
        position: absolute;
        top: 50%;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        .icon {
            vertical-align: middle;
        }
    }
}
#no_files {
    display: none;
    h3 {
        margin-top: 55px;
        text-align: center;
        color: $gray_6;
    }
}
#right {
    border-left: 1px solid $gray_4;
    flex: 1;
    display: none;
    .right_none_selected {
        display: block;
        text-align: center;
        background: $gray_1;
        border-bottom: 1px solid $gray_4;
        text-align: center;
        i {
            width: 100%;
            padding: 50px;
            font-size: 30px;
        }
        p {
            padding: 10px;
        }
    }
    .detail_img {
        border-bottom: 1px solid $gray_4;
        img {
            display: block;
        }
        i {
            width: 100%;
            padding: 30px;
            font-size: 70px;
            background: $gray_3;
        }
        .audio {
            margin-top: 32px;
        }
        .audio,
        .video {
            margin-bottom: -5px;
            width: 100%;
            height: auto;
        }
    }
    .detail_info {
        padding: 10px;
        word-break: break-all;
        h4 {
            margin-right: 8px;
            font-size: 13px;
            color: $gray_5;
        }
        span {
            color: $dark-gray_2;
        }
        a {
            color: $blue;
        }
    }
    .count {
        text-align: right;
        margin-top: 20px;
        padding: 10px;
    }
}
.confirm_delete,
.confirm_delete_icon {
    color: $blue;
    font-weight: 500;
}
.folder_warning {
    margin-top: 15px;
}

// util
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.m-0 {
  margin: 0px !important;
}
.m-l-50 {
  margin-left: 50px !important;
}

// Lightbox
.lb-outerContainer {
    background-color: transparent !important;
    .lb-container {
        padding: 0;
        .lb-image {
            border-radius: 4px;
            border: none;
        }
    }
}
.lb-dataContainer {
    display: none;
}

// notification
.notif-container {
    padding-bottom: 4rem;
    position: fixed;
    top: 4rem;
    right: 1rem;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    z-index: 100;
    overflow: scroll;
}
